:root {
  --md-primary-fg-color: #f06666;
  --md-primary-fg-color--light: #ff7a7a;
  --md-primary-fg-color--dark: #b92d2d;
  --md-primary-bg-color: #0b0f1d;
  --md-default-fg-color: #ffffff;
  --md-default-fg-color--light: #e6e6e6;
}
